<% title "Admin/Session" %>

<p>
  <strong>Name:</strong>
  <%= @session.name %>
</p>

<p>
  <%= link_to "Edit", edit_admin_session_path(@session) %> |
  <%= link_to "Destroy", [:admin, @session], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_sessions_path %>
</p>
