
<%= render 'form' %>
<div class="word_images">
  <%#= image_tag img, :alt => "img", :class=> "word_img" %>
</div>
<div class='btn btn-danger' id = 'more-image' data-page=1 data-word=<%=@word.name%>>more</div>
<p>
  <%= link_to "Show", [:admin, @word] %> |
  <%= link_to "View All", admin_words_path %>
</p>
