<% title "Api/Valid Nickname" %>

<p>
  <strong>Name:</strong>
  <%= @valid_nickname.name %>
</p>

<p>
  <%= link_to "Edit", edit_api_valid_nickname_path(@valid_nickname) %> |
  <%= link_to "Destroy", [:api, @valid_nickname], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", api_valid_nicknames_path %>
</p>
