<% title "Api/Prize" %>

<p>
  <strong>Name:</strong>
  <%= @prize.name %>
</p>

<p>
  <%= link_to "Edit", edit_api_prize_path(@prize) %> |
  <%= link_to "Destroy", [:api, @prize], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", api_prizes_path %>
</p>
