@import "bootstrap";

body{
}

.control-group{
  width:80%;
  display:inline-block;
}

.control-label{
  width:150px;
  padding-right:10px;
}

.controls{
  width:400px;
  margin-left:180px;
  align:left;
}

.control-fixed {
	position:fixed;
  text-align:left;
	left:0;
	top:20%;
}

#container {
  margin:0 auto;
  text-align:center;
  width:900px;
}